html
	head
		title information
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		script(src='js/jquery-1.9.1.min.js')
		script(src='js/jquery-ui-1.10.2.min.js')
	body
		div#info
		script.
			function getQueryString(name){
				var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
				var r=decodeURI(window.location.search.substr(1)).match(reg);
				if(r!=null)return unescape(r[2]);
				return null;
			}
			var label=getQueryString('label');
			var at=getQueryString('at');
			var type=getQueryString('type');
			var html;
			console.log(label+"&&&&"+at+"&&&&"+type);
			html='<div>';
			html+='<div>';
			html+='label: '+label;
			html+='</div>';
			html+='<div>';
			html+='at:'+at;
			html+='</div>';
			html+='<div>';
			html+='type:'+type;
			html+='</div>';
			html+='</div>';
			console.log(html);
			document.getElementById("info").innerHTML=html;